.header {
  text-align: center;
  border-bottom: 4px solid #fa8142;
  width: 50%;
  margin: auto;
  display: block;
}

.header__light {
  color: #454e56;
}

.bulletPoints {
  text-align: left;
  padding: 2rem;
}

li {
  padding: 0.5rem;
}
