@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Lato:ital,wght@0,100;1,300&family=Poppins&family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Edu+TAS+Beginner&family=Lato:ital,wght@0,100;1,300&family=Poppins&family=Rubik+Maze&family=Uchen&display=swap");

.container__card {
  background-color: #2a2e35;
  border-radius: 0.5rem;
  width: 40%;
  height: fit-content;
  transition: all 0.2s ease-in-out;
  animation: 1s ease-out moveCard;
  padding: 1rem;
  margin-top: 3rem;
}

.container__card--light {
  background-color: #fff;
}

.container__card:hover {
  transform: scale(1.01);
}

.container__image {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 1.5rem auto;
  padding: 3rem;
}

.container__image--light {
  background-color: rgb(93, 93, 97);
}

.logo {
  width: 45%;
}

.container__card--title {
  font-family: "Uchen", serif;
  color: white;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
}

.container__card--title--light {
  color: #454e56;
}

.container__card--desc {
  color: #b2becd;
  text-align: center;
  margin-top: 1.5rem;
  padding: 1rem;
  font-family: "Bree Serif", serif;
}

.container__card--desc--light {
  color: #8a8d91;
}

.container__button {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.container__button2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.button__common {
  background: #12181b;
  width: 45%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-align: center;
  font-family: "Bree Serif", serif;
}

.button__common--light {
  background-color: #fff;
}

.button__common2 {
  background: #12181b;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-align: center;
  font-family: "Bree Serif", serif;
  margin-top: 2rem;
}

.button__common2--light {
  background-color: #fff;
}

button {
  font-family: inherit;
  background: inherit;
  color: #fff;
  border: none;
  font-size: inherit;
}

.button--light {
  background: inherit;
  color: #454e56;
}

.container__button--orange:hover {
  background-color: #fa8142;
  transform: translateY(-0.5rem);
  transition: all 0.2s ease-in-out;
}

.container__button--green:hover {
  background-color: #09c372;
  transform: translateY(-0.5rem);
  transition: all 0.2s ease-in-out;
}

.container__button--green {
  border: 2px solid #09c372;
}

.container__button--orange {
  border: 2px solid #fa8142;
}

@keyframes moveCard {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  50% {
    transform: translate(0rem);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1000px) {
  .container__card {
    width: 85%;
  }
}

@media screen and (max-width: 550px) {
  .container__card {
    width: 95%;
  }
}
