@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Lato:ital,wght@0,100;1,300&family=Uchen&display=swap");

.container__main {
  display: flex;
  font-size: 2.5rem;
  position: relative;
}

@media screen and (max-width: 500px) {
  .container__main {
    flex-direction: column;
    gap: 0rem;
  }
}

