@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Edu+TAS+Beginner&family=Lato:ital,wght@0,100;1,300&family=Poppins&family=Rubik+Maze&family=Uchen&display=swap");

.container__main {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  width: 90%;
  height: 100vh;
  overflow-y: scroll;
}

.container__main--light {
  color: #454e56;
}

.container__main::-webkit-scrollbar {
  width: 0.8rem;
}

.container__main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

.container__main--experiences {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}

.button {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-size: 2rem;
  color: grey;
  text-align: center;
}

.container__main--experiences--work {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 5rem;
  border: 0.1rem solid lightgrey;
  cursor: pointer;
  margin-right: 10rem;
  align-self: center;
}

.container__main--experiences--work--light {
  border: 0.1rem solid #12181b !important;
}

.desc {
  padding: 2rem;
  width: 70rem;
  font-family: "Bree Serif", serif;
}

.button__work {
  border: 2px solid #fa8142;
  background: #12181b;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-align: center;
  font-family: "Bree Serif", serif;
}

.button__work--light {
  background-color: #fff;
  color: #454e56;
}

.buttonWork:hover {
  background-color: #fa8142;
}

.container__main--heading {
  font-size: 4rem;
  font-family: "Bree Serif", serif;
  margin-top: 2rem;
}

.clicked {
  background-color: #fa8142;
}

@media screen and (max-width: 1200px) {
  .container__main {
    align-items: center;
    width: 100%;
    gap: 0.2rem;
  }
  .container__main--experiences {
    width: 100%;
  }
  .desc {
    font-size: 2rem;
  }
  .container__main--experiences--work {
    gap: 1rem;
    padding: 5rem;
    border: 0.1rem solid lightgrey;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 550px) {
  .container__main {
    align-items: center;
    width: 100%;
    overflow-y: unset;
    overflow-x: unset;
    gap: 0.2rem;
    height: 100%;
  }
  .container__main--experiences {
    width: 100%;
  }
  .desc {
    font-size: 1.5rem;
  }
  .container__main--experiences--work {
    gap: 1rem;
    padding: 5rem;
    border: 0.1rem solid lightgrey;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    margin: 2rem auto;
    flex-direction: row;
  }
}
