.container__navigation {
  height: 100vh;
  width: 10%;
  display: flex;
  background-color: #2a2e35;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  font-family: "Uchen", serif;
  color: #b2becd;
}

.container__navigation--light {
  background-color: white;
  color: #4f5156;
}

.container__navigation--element {
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  position: relative;
}

a:link,
:visited {
  text-decoration: none;
  color: inherit;
}

.container__navigation--element:focus {
  cursor: pointer;
  color: grey;
}

.navigation__icon {
  font-size: 6rem !important;
}

.active {
  color: green !important;
}

.icon__hovered {
  color: white;
  position: absolute;
  top: 20%;
  left: 80%;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  animation: navElem 0.6s;
  text-transform: uppercase;
}

.icon__noHover {
  display: none;
}

.button__toggleOn {
  color: #4f5156;
  cursor: pointer;
}

.button__toggleOff {
  color: #b2becd;
  cursor: pointer;
}

@keyframes navElem {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  50% {
    opacity: 0.8;
    transform: translateX(0.1rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes navElemMob {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  50% {
    opacity: 0.8;
    transform: translateY(0.1rem);
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1500px) {
  .container__navigation {
    gap: 2rem;
  }
  .navigation__icon {
    font-size: 6rem !important;
  }
}

@media screen and (max-width: 900px) {
  .container__navigation {
    width: 20%;
  }
}

@media screen and (max-height: 790px) {
  .container__navigation {
    width: 15%;
    gap: 2rem;
  }
  .navigation__icon {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 550px) {
  .container__navigation {
    width: 100%;
    height: 10%;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding-top: 2rem;
  }
  .navigation__icon {
    font-size: 3.3rem !important;
  }
  .icon__hovered {
    top: 80%;
    left: 15%;
    animation: navElemMob 0.6s;
    font-size: 0.8rem !important;
  }
  span:last-child {
    font-size: 0.2rem;
  }
}
