.container__main {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 1rem; */
  width: 90%;
  height: 100vh;
  overflow-y: scroll;
}

.container__main::-webkit-scrollbar {
  width: 0.8rem;
}

.container__main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 550px) {
  .container__main {
    width: 100%;
    overflow-y: unset;
    height: 100%;
  }
}
